*{
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}
@keyframes btn-animation{
    from{
        background-color: blue;
        left: 0;
    }
    to{
        background-color: yellow;
        left: 500px;
    }
}
@keyframes btn-animation-pro{
    0%{
        background-color: blue;
        left: 0;
    }
    25%{
        background-color: rgb(5, 151, 87);
        left: 500px;
    }
    50%{
        background-color: rgb(5, 7, 151);
        left: 500px;
        top:100px;
    }
    75%{
        background-color: rgb(5, 7, 151);
        left: 300px;
        top:100px;
    }
    100%{
        background-color: rgb(207, 13, 174);
        left: 0;
        top:0;
    }
}
.btn{
    display: block;
    position: absolute;
    left: 500px;
    /* width: 100%; */
    padding: 20px;
    border:1px solid black;
    background-color: white;
    margin-bottom: 20px;
    animation-name: btn-animation-pro;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-iteration-count: infinite;

}
.btn.slow{
    /* animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
    animation: btn-animation-pro 30s linear 5s infinite;

}
.btn-hover{
    display: block;
    width: 50%;
    padding: 20px;
    border:1px solid black;
    background-color: white;
    margin-bottom: 20px;
    transition: all 5s;
}
.btn-hover:hover{
    background-color: black;
    color:white;
    width: 100%;
}
.transform{
    width: 300px;
    height: 300px;
    background-color: yellow;
    transition: all 2s;
    border: 2px solid black;
}
.transform:hover{
    /* transform: rotate(120deg); */
    /* rotate: -45deg; */
    /* transform: scale(1.2,1.5); */
    /* transform: skew(-20deg, 0deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    transform: rotateZ(180deg);

}
.image{
    width: 200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.image>img{
    width: 100%;
    transition: all 2s;
}
.image>img:hover{
    /* scale: 1.7 0.7; */
    /* translate: -50% -100px; */
    transform: translate(20px, 200px);
}
svg{
    fill:red;
    stroke: gold;
    stroke-width: 3px;
}
svg path{
    fill: black;
}