*{
    box-sizing: border-box;
}
p{
    color:white;
    font-weight: bold;
    font-size: 20px;
}
section{
    width: 1000px;
    margin: 0 auto;
    height: 480px;
    overflow-y: auto;
    padding:400px 150px;
    background-color: green;
    /* background-image: url("../img/avatar.png"),url("../img/1.webp"); */
    /* background-image: url("../img/avatar.png"); */
    background-image: url("https://preview.redd.it/whats-a-dark-fact-about-star-wars-that-is-rarely-addressed-v0-6fx1s7owjhea1.jpg?width=640&crop=smart&auto=webp&s=185eaf3d87268024335adc2d8f61756a5aee3a9c");

    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position: top 40px left 200px; */
    /* background-position:  bottom center; */
    background-attachment: local;
    background-size: cover;
    padding-left: 120px;
}
